dt {
  font-weight: bold;
  color: #737373;
}

.graphics-element {
  width: 100%;
  height: auto;
}

.graphics-container {
  width: 100%;
  height: 500px;
  min-height: inherit;
  margin: 0 auto;
  overflow: visible;
  position: relative;
}

.graphics-menu {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.graphics-area {
  width: 70%;
  height: auto;
  min-height: inherit;
  position: relative;
  overflow: hidden;
}

.graphics-svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* aspect ratio */
  vertical-align: top;
  overflow: hidden;
  transform: scale(1,1);
}

.svg-content-responsive {
  display: inline-block;
  position: absolute;
  left: 0;
}

.graphics-desc {
  margin: 0.5rem 0;
  font-size: 1em;
}

.graphics-desc p {
  line-height: 1.25em;
  padding: 0 0.25em;
}

.graphics-desc ul {
  list-style: lower-alpha;
}

.graphics-desc a {
  text-decoration: none;
  color: #053cdf;
}

.data-source {
  margin: 0.5rem 0;
  text-align: right;
  font-size: 0.75em;
}

.data-source * {
  margin: 0;
  display: inline-block;
}

.data-source dt {
  margin-right: 0.25rem;
  display: inline-block;
}

.desc-legend {
  font-size: 0.8em;
  margin-top: 0;
  text-align: right;
}

.desc-legend-cont {
  display: inline-block;
}

.desc-legend-cont * {
  display: inline-block;
}

.desc-legend dt {
  display: inline-block;
  margin-bottom: 0.25em;
}

.desc-legend dd {
  margin: 0;
  display: inline-block;
}

.desc-legend-patch {
  height: 0.75em;
  width: 0.75em;
  margin-left: 0.75em;
  margin-right: 0.25em;
}

/* MODIFIERS */
.flex {
  display: flex;
}

.inline * {
  display: inline-block;
}

.content-margin {
  margin: 0.5em 0;
}

.height-auto {
  height: auto;
}

/* MEDIA QUERIES */
@media only screen and (max-width:600px) {
  .graphics-container.flex {
    flex-direction: column;
    height: auto;
  }

  .graphics-menu {
    width: 100%;
    height: 130px;
    flex-direction: row;
    /* enables horizontal scrolling and hides the scrollbar */
    overflow-y: hidden;
    overflow-x: scroll;
    margin-bottom: -50px;
    padding-bottom: 50px;
  }

  .graphics-area {
    width: 100%;
    height: auto;
    min-height: 350px;
  }

  .desc-legend-cont {
    display: flex;
    flex-wrap: wrap;
    display: inline-flex;
  }

  .desc-legend dt {
    display: inline-block;
  }

}

@media only screen and (max-width:500px) {
  .graphics-menu {
    width: 100%;
    height: 110px;
  }

}
