.graphics-svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* aspect ratio */
  vertical-align: top;
  overflow: hidden;
  transform: scale(1,1);
}

.svg-content-responsive {
  display: inline-block;
  position: absolute;
  left: 0;
  /*top: 10px;*/
  /* max-height: 100%; */
}

.graphic-element-map {

}

.graphics-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.flex {
  display: flex;
}

.graphics-menu {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.graphics-area {
  width: 70%;
  height: auto;
}

.spinner {
  width: 100%;
  height: 100%;
  background: center / 10% no-repeat url(/icons/loading.gif);
}

@media only screen and (max-width:600px) {
  .graphics-menu {
    display: none; /* TODO: rearrange layout for map? */
  }

  .graphics-area {
    width: 100%;
  }

  .svg-content-responsive {
    transform: scale(1.5,1.5);
  }
}
