.portfolio-main {
  width: 100%;
}

.portfolio-content {
  max-width: 980px;
  width: 95%;
  margin: 0 auto;
  margin-top: 1rem;
}

.portfolio-nav {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: #e6e6e6;
}

.portfolio-nav a {
  color: black;
  font-size: 1rem;
  text-decoration: none;
  margin: 0 2rem;
  padding: 0.25rem;
}

.portfolio-nav .current-page {
  color: orange ;
  border-bottom: 2px solid orange;
  box-sizing: border-box;
}

.portfolio-element {
  width: 100%;
}

.card-container {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
}

.spinner {
  width: 100%;
  height: 100%;
  min-height: 400px;
  background: center / 10% no-repeat url(https://noe-lc.github.io/about-me/icons/loading.gif);
  border: 1px solid rgba(0,0,0,0.25);
}

.empty-list {
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  font-size: 2rem;
  color: gray;
  border: 1px solid rgba(0,0,0,0.25);
}

@media only screen and (max-width:600px) {
  .portfolio-nav {
    justify-content: space-around;
  }

  .portfolio-nav a {
    margin: 0 0.5rem;
  }

  .graphic-element-map {
    width: 100%;
    height: auto;
    min-height: 370px;
  }

  .empty-list {
    min-height: 300px;
  }

  .spinner {
    min-height: 250px;
  }

}

@media only screen and (max-width: 600px){
  .graphic-desc {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 900px){
  
}
