.cover-letter {
  width: 100%;
  display: flex;
  margin-top: 2vh;
}

.img-container {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bio-container {
  width: 65%;
  line-height: 1.25rem;
}

.img-container img {
  width: 75%;
  display: block;
  border-radius: 50%;
}

.greeting {
  display: inline-block;
  margin-bottom: 0.5rem;
}

@media only screen and (max-width: 600px) {
  .cover-letter {
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }

  .img-container {
    width: 50%;
  }

  .bio-container {
    width: 90%;
  }
}