.info-element {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 2px solid rgb(0,0,0,0.05);
}

.icon-container {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.details-list {
  margin: 0.25rem 0;
}

.details-list li {
  margin-bottom: 0.25em;
}

.wrap {
  margin-right: 0.5rem;
}

.highlight {
  font-weight: 600;
}

.selected {
  background-color: #e4e4e4;
}

.small {
  font-size: 0.85em;
}

.icon-container .icon {
  width: 40%;
}

.icon-container .icon img {
  width: 100%;
  border-radius: 50%;
}

.info-container {
  width: 65%;
}

.info-container h4 {
  margin: 0;
  font-weight: normal;
}