.collapsible-parent {
  width: 100%;
  margin-top: 0.5rem;
}

.header {
  width: 95%;
  padding: 0.25rem;
  display: flex;
  margin: 0 auto;
  background-color: #eaeaea;
}

.header.expanded {
  border-bottom: 2px solid rgba(0,0,0,0.1);
}

.title {
  flex: 1;
  text-shadow: 1px 1px 10px #4e4e4e;
}

.title:hover {
  color: #4f4f4f;
}

.btn-container {
  width: 10%;
  text-align: right;
  display: flex;
  justify-content: center;
  align-items: center;
}

.collapsed {
  max-height: 0rem;
  overflow: hidden;
  transition: max-height ease-in 0.35s;
}

.expanded {
  max-height: 20rem;
  transition: max-height ease-out 0.5s;
}

.header .title {
  opacity: 0.5;
  line-height: 1.75em;
}

.btn {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  background-position: center;
  background-size: 75%;
  background-repeat: no-repeat;
}

.btn-collapsed {
  background-image: url(https://noe-lc.github.io/about-me/icons/expand.svg);
}

.btn-expanded {
  background-image: url(https://noe-lc.github.io/about-me/icons/collapse.svg);
}
