.collapsible-parent {
  width: 100%;
}

.header {
  width: 100%;
  padding: 0.1rem;
  display: flex;
}

.collapsed {
  height: 0rem;
  max-height: 0rem;
  overflow: hidden;
}

.expanded {
  height: auto;
  max-height: 9999rem;
}

.title {
  width: 90%;
}

.btn {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  border: 1px solid black;
  background-color: transparent;
  background-position: center;
  background-size: contain;
}

.btn-collapsed {
  background-image: url(/public/icons/expand.svg);
}

.btn-expanded {
  background-image: url(/public/icons/collapse.svg);
}
