.info-element {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 2px solid rgb(0,0,0,0.05);
}

.title-container {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 0;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.s-name {
  min-width: 35%;
  margin: 0 1rem 0.25rem 0 !important;
}

.s-list {
  display: flex;
  flex: 1;
  align-items: center;
}

.s-row-list {
  width: 100%;
  margin: 0;
  font-size: 0.9em;
  word-spacing: 0.2em;
}

.graph-element {
  width: 1.25em;
  height: 1.25em;
  margin-right: 0.25em;
  background-color: #eaeaea;
  border: 1px solid rgba(0,0,0,0.25);
}

.filled {
  background-color: gray;
  opacity: 0.5;
}

.padding-left {
  padding-left: 0.5rem;
}

.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;
}

.info-container h3 {
  margin: 0 0 0.5em 0;
  font-size: 1.25rem;
  font-weight: 600;
}

.p85 {
  width: 85%;
  margin: 0 auto;
}

@media only screen and (max-width:600px) {
  .info-element.non-reverse {
    flex-direction: column;
  }

  .wrap {
    display: block;
  }

  .title-container {
    width: auto;
    margin-top: 0.1em;
  }
}