.info-element {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 2px solid rgb(0,0,0,0.05);
}

.title-container {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: left;
}

.padding-left {
  padding-left: 0.5rem;
}

.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;
}

.info-container h3 {
  margin: 0 0 0.5em 0;
  font-size: 1.25rem;
  font-weight: 600;
}

.small {
  font-size: 0.85em;
}


@media only screen and (max-width:600px) {
  .info-element.non-reverse {
    flex-direction: column;
  }

  .wrap {
    display: block;
  }

  .title-container {
    width: auto;
    margin-top: 1em;
  }
}