.sc-icons {
  margin: 0.5rem 0;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  word-wrap: wrap;
}

.sc-icons-container {
  display: flex;
  align-items: center;
}

.sc-icons a {
  height: 2rem;
  margin: 0 0.25rem;
}

.icon {
  height: inherit;  
}


@media only screen and (max-width: 600px) {
  .sc-icons {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .sc-icons-container {
    margin: 0.5em;
  }
}