.treemap-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.treemap-wrapper * {
  box-sizing: border-box;
}

.treemap-ctrl {
  height: 7.5%;
  max-height: 7.5%;
  padding: 0.25rem;
  display: flex;
  font-size: 0.9em;
  position: relative;
}

.nest-option {
  max-height: 100%;
  border: 2px solid #b4b4b4;
  text-align: center;
  padding: 0 0.5em;
  margin-right: 1em;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
}

.nest-option::after {
  content: '';
  border: 0.5em solid transparent;
  border-left: 0.5em solid black;
  position: absolute;
  right: -1.25em;
}

.nest-option:last-child::after {
  display: none;
}

.treemap-container {
  position: relative;
  width: 100%;
  /*height: 100%;*/
  flex: 1;
  font-family: sans-serif;
}

.leaf {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  white-space: normal;
  background-color: gray;
  text-overflow: ellipsis;
  overflow: hidden;
}

.leaf-label {
  overflow: hidden;
  white-space: normal;
  vertical-align: middle;
  color: white;
  text-align: center;
  text-overflow: ellipsis;
}

.leaf-total {
  font-size: 0.8em;
  margin: 0;
}

.leaf-pct {
  color: rgba(255,255,255,0.75);
  font-size: 0.7em;
}

.leaf-name {
  font-size: 0.6em;
}


.leaf-label span {
  display: block;
}
